/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
Main Body Elements
*/
body{
    text-align: center;
    background-color: black;
}

/*
Header
*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nasaLogo{
    width: 240px;
    height: 200px;
    margin-top: 40px;
}
#nasaLogoTwo{
    width: 240px;
    height: 200px;
    margin-top: 40px;
}
h1{
    color: white;
    font-size: 68px;
    margin-top: 50px;
    line-height: 150px;
    flex-basis: 50%;
}

/*
Button/Tagline
*/
h4{
    color: rgb(252, 61, 33);
    margin-bottom: 20px;
    font-size: 24px;
}
button{
    margin-bottom: 70px;
    width: 90px;
}
input{
    width: 200px;
}

/*
Picture of the Day
*/
#pictureOfDay{
    height: auto;
    width: auto;
    display: block;
    margin: auto;
    border: solid 3px white;
    margin-bottom: 30px;
}
#videoOfDay{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    height: auto;
    width: auto;
}

/*
Explanation
*/
.explanation{
    color: white;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}


